
<ul class="list-group">
  <li class="list-group-item list-group-item-danger" (click)="reproducirSonido('sonido1')">Do</li>
  <li class="list-group-item list-group-item-primary" (click)="reproducirSonido('sonido2')">Re</li>
  <li class="list-group-item list-group-item-secondary"(click)="reproducirSonido('sonido3')">Mi</li>
  <li class="list-group-item list-group-item-success"(click)="reproducirSonido('sonido4')">Fa</li>
  <li class="list-group-item list-group-item-danger"(click)="reproducirSonido('sonido5')">Sol</li>
  <li class="list-group-item list-group-item-warning"(click)="reproducirSonido('sonido6')">La</li>
  <li class="list-group-item list-group-item-info"(click)="reproducirSonido('sonido7')" >Si</li>
  <button (click)="reproducirHimno()">Himno de andalucia</button>
  <button (click)="reproducirSonido('cazafantasmas')">Cazafantasmas</button>

  
</ul>